<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
        <link rel="canonical" href="https://themes.getbootstrap.com/preview/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Preview - Bootstrap Themes" />
        <meta property="og:url" content="https://themes.getbootstrap.com/preview/" />
        <meta property="og:site_name" content="Bootstrap Themes" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Preview - Bootstrap Themes" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel= "stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
            <link rel="stylesheet" href={{asset('Style.css')}}>
            <link rel="stylesheet" href={{asset('script.js')}}>

            
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
          <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
	    <style>
            body{
                background-image:url(https://fr.freepik.com/vecteurs-premium/connexion-reseau-globale_4173672.htm);
                background-repeat:no-repeat;
                background-size: 100%;
            }
            :root{
                --yellow:#f9ca24;
            }
            *::selection{
                background: var(--yellow);
                color: #333;
            }
            html{
                font-size: 40.5%;
                overflow-x: hidden;
            }
            html::-webkit-scrollbar{
                width: 1rem;
            }
            html::-webkit-scrollbar-track{
                background: rgb(110, 100, 168);
            }
            html::-webkit-scrollbar-thumb{
                background: var(--pink);
            }
            body{
                background: rgb(126, 111, 199);
                overflow-x: hidden;
            }
            header{
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1000;
                height: 100%;
                width: 40rem;
                background: #1a1a1a;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                text-align: center;
            }
            header .user img{
                height: 25rem;
                width: 25rem;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 1rem;
                border: 1rem solid var(--yellow);
            }
            header .user .name{
                font-size: 3rem;
                color: #fff;
            }
            header .user .post{
                font-size: 2rem;
                color: #fff;
            }
            header .navbar{
                width:20%;
            }
            header .navbar ul{
                list-style: none;
                padding: 1rem 1rem;
            }
            header .navbar ul li a{
                display: block;
                padding: 1rem;
                margin: 2rem 0 ;
                background: #333;
                color: #fff;
                font-size: 2rem;
                border-radius: 0rem;
                align-items: center;
            }
            header .navbar ul li a:hover{
                background: #7f4be8;
            }
            #menu{
                position: fixed;
                top: 2rem;
                right: 2rem;
                background: #333;
                color: #fff;
                cursor: pointer;
                font-size: 2.5rem;
                padding: 1rem 1.5rem;
                z-index: 1000;
                display: none;
            }
            .home{
                display: flex;
                justify-content: center;
                flex-flow: column;
                padding:0 15rem;
            }

            .home h3{
                font-size: 2.5rem;
                color:#fff;
            }

            .home h1{
                font-size:5rem;
                color:#fff;
            }

            .home h1 span{
                color:var(--yellow);
            }

            .home p{
                font-size:2rem;
                color:#eee;
                padding: 1rem 0;
            }

            .about .row{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                padding:1rem 0;
            }

            .about .row .info{
                flex:1 1 48rem;
                padding:2rem 1rem;
                padding-left: 6rem;
            }

            .about .row .info h3{
                font-size: 2rem;
                color:var(--yellow);
                padding:1rem 0;
                font-weight: normal;
            }

            .about .row .info h3 span{
                color:#eee;
                padding:0 .5rem;
            }

            .about .row .counter{
                flex:1 1 48rem;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            .about .row .counter .box{
                width:30rem;
                background:#222;
                text-align: center;
                padding: 4rem;
                margin:4rem;
            }

            .about .row .counter .box span{
                font-size: 7rem;
                color:var(--yellow);
            }

            .about .row .counter .box h3{
                font-size: 2rem;
                color:#fff;
            }


            .portfolio .box-container{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                padding:2rem 0;
            }

            .portfolio .box-container .box{
                height: 20rem;
                width:26rem;
                border-radius: 1rem;
                margin:2rem;
                overflow: hidden;
                cursor: pointer;
            }

            .portfolio .box-container .box img{
                height:100%;
                width:100%;
                object-fit: cover;
            }

            .portfolio .box-container .box:hover img{
                transform: scale(1.2);
            }

            .contact .row{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }

            .contact .row .content{
                flex:1 1 30rem;
                padding:4rem;
                padding-bottom: 0;
            }

            .contact .row form{
                flex:1 1 45rem;
                padding:2rem;
                margin:2rem;
                margin-bottom: 4rem;
            }

            .contact .row form .box{
                padding:1.5rem;
                margin:1rem 0;
                background:#3333;
                color:#fff;
                text-transform: none;
                font-size: 1.7rem;
                width:100%;
            }

            .contact .row form .box::placeholder{
                text-transform: capitalize;
            }

            .contact .row form .message{
                height: 15rem;
                resize: none;
            }

            .contact .row .content .title{
                text-transform: uppercase;
                color:#fff;
                font-size: 3rem;
                padding-bottom: 2rem;
            }

            .contact .row .content .info h3{
                display: flex;
                align-items: center;
                font-size: 2rem;
                color:#eee;
                padding:1rem 0;
                font-weight: normal;
            }

            .contact .row .content .info h3 i{
                padding-right: 1rem;
                color:var(--yellow);
            }

            .top{
                position: fixed;
                bottom:7.5rem; right: 2rem;
                z-index: 100;
                display: none;
            }



            .p{
                font-size: 1,5%;
            }

            @media (max-width:1200px){

                html{
                    font-size: 55%;
                }

                .home{
                    padding:1rem 4rem;
                }

            }

            @media (max-width:991px){

            header{
                left:-120%;
            }

            #menu{
                display: block;
            }

            header.toggle{
                left:0%;
            }

            body{
                padding:0;
            }

            }

            @media (max-width:768px){

                html{
                    font-size: 50%;
                }
            
            }

            @media (max-width:400px){

                header{
                    width: 100vw;
                }

                .heading{
                    margin:0 3rem;
                }

                .contact .row form{
                    margin:3rem 0;
                }
	    </style>
        <header><br><br><br><br><br><br><br><br><br><br><br>
            <div class="user">
                <img src={{asset('IMAGE/SALA2.jpg')}}>
                <h3 class="name">Salamata sow</h3>
                <p class="post">student of Network and Telecommunications Engineering</p><br>
                 <h3 class="title">contact info</h3>

                        <div class="info">
                            <h3> <i class="fas fa-envelope"></i> salamata.sow@etu.univ-st-etienne.fr </h3>
                            <h3> <i class="fas fa-phone"></i> +33 7 53 46 76 XX</h3>
                            <h3> <i class="fas fa-phone"></i> +221 7851356XX </h3>
                            <h3> <i class="fas fa-map-marker-alt"></i> FRANCE, ROANNE - 42300. </h3>
                        </div>
            </div>
        </header>
       
       {% block body %}{% endblock %} 
    </body>
</html>